{% extends "base.html" %}


{% block title %}
    <title>Keep your Secrets On Us</title>
{% endblock %}

{% block head %} 

{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="card border-light text-bg-dark" style="padding: 1rem; margin-top: 2rem; margin-bottom: 1rem;">
                <h5>DSA settings</h5>
    
                <p style="margin-top: 1rem; margin-bottom: 0.1rem;">Sign adjudments: </p>
                <div class="container" style="margin-top: 0.5rem; margin-bottom: 0.1rem">
                    <div class="col">
                        <input type="number" class="form-control" name="M" id="Message" placeholder="The number for start Signing">
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <input type="number" class="form-control" name="Gamma-K" id="Gamma-K" placeholder="Key-First number of the Sign">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="Delta" id="Delta" placeholder="Second number of the Sign">
                        </div>
                    </div>
                </div>
            
                <div style="margin-top: 1rem">
                    
                </div>
    
            </div>
        </div>

        <div class="row">
            <div class="container" style="margin-top: 0.5rem;">
                <div class="row align-items-center">
                    <div class="col d-flex w-50">
                        <div class="container">
                            <div class="row">
                                <textarea name="----" id="Digital Sign" placeholder="Sign Output"></textarea>
                            </div>
                            <div class="row">
                                <button class="text-btn encrypt" id="Signing" name="Signing" value="encrypt">
                                    <i class="fa-solid fa-lock"></i> Signing
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <div class="col d-flex w-50">
                        <div class="container">
                            <div class="row">
                                <textarea name="textveroutput" id="verification_output" placeholder="verification of the sign (x-Gamma-Delta)"></textarea>
                            </div>
                            <div class="row">
                                <button class="text-btn decrypt" id="verification" name="Rectificate" value="decrypt">
                                    <i class="fa-solid fa-lock-open"></i> Decrypt
                                </button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/DSA.js') }}"></script>
    
{% endblock %}